.header {
  height: 100px;
  border-bottom: 3px solid black;
  margin-bottom: 10px;
}
.header img {
  height: 70px;
  margin-top: 10px;
}
.header ul {
  margin-top: 55px;
}
.search-section {
  margin-bottom: 20px;
}
.search-section .search-heading {
  display: block;
  padding: 5px;
  color: #ce1141;
  border-bottom: 1px solid #000;
  cursor: pointer;
}
.search-section .search-heading::after {
  font-family: 'Glyphicons Halflings';
  content: "\2212";
  float: right;
  color: #ce1141;
}
.search-section .search-heading.collapsed::after {
  content: "\002b";
}
.search-section .search-options {
  margin-left: 20px;
}
.search-section .search-options label {
  display: block;
  padding-right: 20px;
}
.data-item {
  padding: 5px;
  border-bottom: 1px solid #000;
}
.data-item:last-child {
  border-bottom: none;
}
.data-item h4 {
  margin: 0;
}
.btn-round {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.btn-round.btn-lg {
  width: 48px;
  height: 48px;
}
.btn-round.btn-sm {
  width: 34px;
  height: 34px;
}
.btn-round.btn-xs {
  width: 24px;
  height: 24px;
}
.new-files h5 {
  margin: 4px 0px;
}
.new-files p {
  margin: 0px;
}
.file-box {
  float: left;
  width: 249px;
}
.file-box .file {
  border: 1px solid #ce1141;
  padding: 0;
  background-color: #ce1141;
  position: relative;
  margin: 0px 10px 20px 10px;
  height: 163px;
  overflow: hidden;
}
.file-box .file .icon {
  padding: 15px 10px;
  text-align: center;
}
.file-box .file .icon i {
  font-size: 70px;
  color: black;
}
.file-box .file:hover .details {
  transform: translateY(100px);
}
.file-box .file .details {
  padding: 10px;
  background-color: white;
  height: 100px;
  transition: transform 0.3s;
  position: absolute;
  top: -100px;
  left: 0px;
  border-bottom: 1px solid #ce1141;
  width: 100%;
}
.file-box .file .file-name {
  padding: 10px;
  background-color: white;
  height: 163px;
}
.file-box .file .file-name .preview {
  height: 63px;
  line-height: 12px;
}
.file-box .file .file-name small {
  color: #2aa4a8;
}
