@import "mixins/gradients.less";
@import "variables.less";

.header {
  height: 100px;
  border-bottom: 3px solid black;
  margin-bottom: 10px;
  img{
    height: 70px;
    //margin-left: 60px;
    margin-top: 10px;
  }
  ul {
    margin-top: 55px;
  }
}